<head>
	<title>Solid</title>
	
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="/js/countdown.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<script>
		$(function() {
			$("#date").text((new Date).toLocaleDateString());
		});
	</script>
</head>


<body>

	<div class="outer">
		<div class="middle">


				<table id="belltimes">
					<% for(var i=0; i<bells.length; i++) {%>


					<% if (bells[i].bell in classVariations) { %> <tr class="warning" title="<%= classVariations[bells[i].bell].title %> has <%= classVariations[bells[i].bell].casualSurname %> as a casual."> <% } else { %> <tr>  <% } %>
						<% if(timetable.timetable.periods[bells[i].bell] && timetable.timetable.periods[bells[i].bell].room) {%>
						<td class="timeCell"><%= bells[i].time %></td>
						<td><%= timetable.subjects[timetable.timetable.periods[bells[i].bell].year + timetable.timetable.periods[bells[i].bell].title].title %></td>
						<td class="roomCell"><%= timetable.timetable.periods[bells[i].bell].room %></td>
					<% } else  { %>
						<td class="timeCell"><%= bells[i].time %></td>
						<td><%= bells[i].bellDisplay %></td>
						<td class="roomCell"></td>
						<% } %>
					</tr>
					<% } %>
				</table>

				<div>
					<p id="date" class="subtext"></p>
					<p id="next">Ya' Mum!</p>
					<p class="subtext">in</p>
					<p id="time">Nobody knows!</p>
				</div>



		</div>
	</div>
</body>